  /* General body styling */
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: roboto, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #545e6c;
    background-color: #f4f4f4;
    font-size: 14px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .body-wrapper {
    display: flex;
    flex-flow: row;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px 1px darkgray;
    margin: 3rem;
    max-width: 1000px;
  }

  .sidebar {
    width: 20%;
    min-width: 280px;
    background: #42a8c0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .sidebar .sidebar-upper {
    background: rgba(0,0,0,.2);
    color: #fff;
    padding: 3rem 0.5rem;
    text-align: center;
    border-top-left-radius: 0.5rem;
  }

  .sidebar .sidebar-upper h2 {
    margin: 1rem 0 0;
  }

  .sidebar .sidebar-upper h5 {
    color: rgba(255,255,255,.6);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }

  .sidebar .sidebar-upper .sidebar-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
  }

  .sidebar .sidebar-lower {
    padding: 1rem;
    color: #fff;
    border-bottom-left-radius: 0.5rem;
  }
  .sidebar .sidebar-lower .contact-list {
    list-style: none;
    padding: 1rem;
  }
  .sidebar .sidebar-lower .contact-list li {
    margin-bottom: 1rem;
  }
  .sidebar .sidebar-lower .contact-list a {
    color: #fff;
    text-decoration: none;
  }
  .sidebar .sidebar-lower .contact-list .fas,
  .sidebar .sidebar-lower .contact-list .fab {
    font-size: 1rem;
    margin-right: 0.3rem;
  }

  .sidebar .sidebar-lower .languages-list {
    list-style: none;
    padding: 1rem;
  }

  .sidebar .sidebar-lower .languages-list .lang-details{
    color: rgba(255,255,255,.6);
  }

  .sidebar .sidebar-lower h4 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
  }

  .sidebar .sidebar-lower ul {
    list-style: none;
    padding: 0;
  }

  .sidebar .sidebar-lower ul li {
    margin-bottom: 0.5rem;
  }

  .main-body {
    width: 80%;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 800px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-top: 2rem;
    background: #fff;
  }

  .main-body .profile {
    border-top-right-radius: 0.5rem;
  }

  .main-body .education .education-item,
  .main-body .experience .experience-item {
    margin-bottom: 2rem;
    width: 100%;
    padding-left: 0.5rem;
  }

  .main-body .education .education-item .institution,
  .main-body .experience .experience-item .company {
    color: #42a8c0;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .main-body .education .education-item .item-title-header,
  .main-body .experience .experience-item .item-title-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .main-body .education .education-item .item-title-header h3,
  .main-body .experience .experience-item .item-title-header h3 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .main-body .education .education-item .item-title-header .time,
  .main-body .experience .experience-item .item-title-header .time {
    color: #97aac3;
    display: flex;
    align-items: center;
  }
  /* Header styling */
  header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }

  header h1 {
    margin: 0;
  }

  header h2 {
    margin: 0;
    font-weight: 300;
  }

  /* Section styling */
  section {
    max-width: 800px;
    background: #fff;
    padding: 2rem 3rem;
    width: 100%;
  }

  section .section-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #2d7788;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
  }

  /* Section header styling */
  section h3 {
    color: #333;
    margin-bottom: .5rem;
  }

  /* Responsive design */
  @media (max-width: 600px) {

    header,
    section {
      padding: 0.5rem;
      margin: 0.5rem;
    }
    .sidebar {
      width: 100%;
    }
  }
